<template>
	<div class="popular-content">
		<language-selector
			:selected-language="selectedLanguage"
		/>
		<repo-grid
			v-if="!loading"
			:repos="repos"
		/>
		<loading v-if="loading" />
	</div>
</template>

<script>
import LanguageSelector from './LanguageSelector'
import RepoGrid from './RepoGrid'
import Loading from '../../components/Loading'
import { fetchPopularRepos } from '../../utils/api'

export default {
	components: {
		LanguageSelector,
		RepoGrid,
		Loading,
	},
	data: function() {
		return {
			selectedLanguage: 'All',
			loading: false,
			repos: [],
		}
	},
	created() {
		this.$on('updateSelectedLanguage', async (lang) => {
			this.selectedLanguage = lang
			await this.fetchRepos()
		})
	},
	async mounted() {
		await this.fetchRepos()
	},
	methods: {
		async fetchRepos() {
			this.loading = true
			this.repos = await fetchPopularRepos(this.selectedLanguage)
			this.loading = false
		},
	},
}
</script>

<style scoped>
div.popular-content
	display: flex
	flex-flow: column nowrap
	align-items: center
</style>
