<template>
	<ul class="language-selector">
		<li
			v-for="lang in languages"
			:key="lang"
			:class="selectedLanguage === lang ? 'selected' : ''"
			@click="handleSelect(lang)"
		>
			{{ lang }}
		</li>
	</ul>
</template>

<script>
export default {
	props: {
		selectedLanguage: { type: String, default: 'All' },
	},
	data: function() {
		return {
			languages: ['All', 'Javascript', 'Elixir', 'Java', 'Go', 'CSS', 'Python'],
		}
	},
	methods: {
		handleSelect(lang) {
			this.$parent.$emit('updateSelectedLanguage', lang)
		},
	},
}
</script>

<style scoped>
ul.language-selector
	display: flex
	flex-flow: row wrap
	list-style-type: none
	padding: 0px
	justify-content: center

	li
		margin: 10px
		font-weight: bold
	li:hover
		cursor: pointer
	li.selected
		color: #d0021b
</style>
