<template>
	<li class="repo-item">
		<span class="popular-rank">#{{ index + 1 }}</span>
		<img
			:src="repo.owner.avatar_url"
			:alt="repo.owner.login"
		>
		<a :href="repo.html_url">{{ repo.name }}</a>
		<span>@{{ repo.owner.login }}</span>
		<span>{{ repo.stargazers_count }} stars</span>
	</li>
</template>

<script>
export default {
	props: {
		index: { type: Number, default: 0 },
		repo: { type: Object, default: null },
	},
}
</script>

<style scoped>
li.repo-item
	display: flex
	flex-flow: column nowrap
	margin: 20px
	text-align: center

	span.popular-rank
		font-size: 20px
		margin: 10px

	img
		max-width: 150px
		border-radius: 50%
	
	a
		text-decoration: none
		color: #d0021b
</style>
