<template>
	<ul class="repo-grid">
		<repo-item
			v-for="(repo, index) in repos"
			:key="repo.id"
			:index="index"
			:repo="repo"
		/>
	</ul>
</template>

<script>
import RepoItem from './RepoItem'

export default {
	components: {
		RepoItem,
	},
	props: {
		repos: { type: Array, default: () => [] },
	},
}
</script>

<style scoped>
ul.repo-grid
	list-style-type: none
	display: flex
	flex-flow: row wrap
	padding: 0px
	justify-content: space-around
</style>
