<template>
	<div class="results-content">
		<loading v-if="loading" />
		<player-result
			v-if="results && !loading"
			v-bind="results[0]"
			label="Winner"
		/>
		<player-result
			v-if="results && !loading"
			v-bind="results[1]"
			label="Loser"
		/>
	</div>
</template>

<script>
import PlayerResult from './PlayerResult'
import Loading from '../../components/Loading'
import { battle } from '../../utils/api'

export default {
	components: {
		PlayerResult,
		Loading,
	},
	data: function() {
		return {
			loading: false,
			results: null,
		}
	},
	async mounted() {
		const { playerOne, playerTwo } = this.$route.query
		this.loading = true
		this.results = await battle(playerOne, playerTwo)
		this.loading = false
	},
}
</script>

<style scoped>
div.results-content
	display: flex
	flex-flow: row wrap
	justify-content: space-around
</style>
