<template>
	<div class="player-result">
		<h1>{{ label }}</h1>
		<h3>Score: {{ score }}</h3>
		<player-avatar
			:image-url="profile.avatar_url"
			:username="profile.login"
		/>
		<player-info
			v-bind="profile"
			:public-repos="profile.public_repos"
		/>
	</div>
</template>

<script>
import PlayerAvatar from '../../components/PlayerAvatar'
import PlayerInfo from './PlayerInfo'

export default {
	components: {
		PlayerAvatar,
		PlayerInfo,
	},
	props: {
		label: { type: String, default: '' },
		profile: { type: Object, default: () => null },
		score: { type: Number, default: 0 },
	},
}
</script>

<style scoped>
div.player-result
	h1
		text-align: center
		font-size: 30px
		font-weight: 200
	h3
		text-align: center
</style>
