<template>
	<ul class="player-info">
		<li v-if="name">
			{{ name }}
		</li>
		<li v-if="location">
			{{ location }}
		</li>
		<li v-if="company">
			{{ company }}
		</li>
		<li>Followers: {{ followers }}</li>
		<li>Following: {{ following }}</li>
		<li>Public Repos: {{ publicRepos }}</li>
		<li v-if="blog">
			<a :href="blog">{{ blog }}</a>
		</li>
	</ul>
</template>

<script>
export default {
	props: {
		name: { type: String, default: '' },
		location: { type: String, default: '' },
		company: { type: String, default: '' },
		followers: { type: Number, default: 0 },
		following: { type: Number, default: 0 },
		publicRepos: { type: Number, default: 0 },
		blog: { type: String, default: '' },
	},
}
</script>

<style scoped>
ul.player-info
	list-style-type: none
	padding: 0px

	li
		a
			text-decoration: none
			color: #d0021b
</style>
