<template>
	<div id="app">
		<nav-bar />
			<div class="content">
				<router-view class="view" />
			</div>
	</div>
</template>

<script>
import NavBar from './NavBar'

export default {
	components: {
		NavBar,
	},
}
</script>
