<template>
	<p>{{ loadingText }}</p>
</template>

<script>
export default {
	props: {
		text: { type: String, default: 'Loading' },
		speed: { type: Number, default: 300 },
	},
	data: function() {
		return {
			loadingText: this.text,
		}
	},
	computed: {
		stopper: function() {
			return `${this.text}...`
		},
	},
	created() {
		window.setInterval(this.updateLoadingText, this.speed)
	},
	beforeDestroy() {
		window.clearInterval(this.updateLoadingText)
	},
	methods: {
		updateLoadingText() {
			if (this.loadingText === this.stopper) {
				this.loadingText = this.text
			} else { this.loadingText = `${this.loadingText}.` }
			return this.loadingText
		},
	},
}
</script>

<style lang="postcss" scoped>
p
text-align: center
font-size: 35px
</style>
