<template>
	<nav class="nav-bar">
		<ul class="content">
			<router-link
				:to="{ name: 'home' }"
				exact
				tag="li"
			>
				Home
			</router-link>
			<router-link
				:to="{ name: 'battle' }"
				tag="li"
			>
				Battle
			</router-link>
			<router-link
				:to="{ name: 'popular' }"
				tag="li"
			>
				Popular
			</router-link>
		</ul>
	</nav>
</template>

<style lang="postcss" scoped>
nav.nav-bar
	display: flex
	flex: 1 1 auto

	ul.content
		list-style: none
		display: flex
		flex: 1 1 auto
		flex-flow: row nowrap
		align-items: center
		justify-content: flex-start
		padding: 0px

		li.router-link-active
			font-weight: bold
		li
			color: #d0021b
			padding: .5rem 1rem
			text-decoration: none
		li:hover
			cursor: pointer
</style>
