<template>
	<div class="player-avatar">
		<img
			:src="imageUrl"
			:alt="username"
		>
		<h2>@{{ username }}</h2>
	</div>
</template>

<script>
export default {
	props: {
		imageUrl: { type: String, default: '' },
		username: { type: String, default: '' },
	},
}
</script>

<style scoped>
div.player-avatar
	display: flex
	flex-direction: column
	align-items: center

	img
		border-radius: 50%
		max-width: 200px
</style>
