<template>
	<div class="battle-content">
		<div class="battle-row">
			<player
				:username="usernameOne"
				label="Player One"
			/>
			<player
				:username="usernameTwo"
				label="Player Two"
			/>
		</div>
		<router-link
			v-if="usernameOne && usernameTwo"
			:to="{ name: 'results', query: { 'playerOne': usernameOne, 'playerTwo': usernameTwo } }"
			tag="button"
		>
			Battle
		</router-link>
	</div>
</template>

<script>
import Player from './Player'

export default {
	components: {
		Player,
	},
	data: function() {
		return {
			usernameOne: '',
			usernameTwo: '',
		}
	},
	created() {
		this.$on('playerOneSubmitted', (username) => { this.usernameOne = username })
		this.$on('playerTwoSubmitted', (username) => { this.usernameTwo = username })
	},
}
</script>

<style scoped>
div.battle-content
	display: flex
	flex-flow: column nowrap
	justify-content: center

	div.battle-row
		display: flex
		flex-flow: row wrap
		justify-content: space-around
</style>
