<template>
	<div class="home-content">
		<h1>Github Battle: Battle your friends... and stuff.</h1>
		<router-link
			:to="{ name: 'battle' }"
			tag="button"
		>
			Battle
		</router-link>
	</div>
</template>

<style scoped>
div.home-content
	display: flex
	flex-direction: column
	align-items: center

	h1.message
		text-align: center
</style>
