html, body
	margin: 0
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,
		Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif

.content
	max-width: 960px
	margin: 0px auto

button
	color: #e6e6e6
	background: #0a0a0a
	border-radius: 3px
	border: none
	margin: 10px auto
	padding: 7px 0
	min-width: 200px
	font-size: 16px
button:hover
	cursor: pointer
