<template>
	<div class="player">
		<player-input
			v-if="showInput"
			:label="label"
		/>
		<player-preview
			v-if="!showInput"
			:username="username"
		/>
	</div>
</template>

<script>
import PlayerInput from './PlayerInput'
import PlayerPreview from './PlayerPreview'

export default {
	components: {
		PlayerInput,
		PlayerPreview,
	},
	props: {
		label: { type: String, default: '' },
		username: { type: String, default: '' },
	},
	data: function() {
		return {
			showInput: true,
		}
	},
	created() {
		this.$on('usernameSubmitted', ({ label, username }) => {
			this.showInput = false
			if (label === 'Player One') this.$parent.$emit('playerOneSubmitted', username)
			if (label === 'Player Two') this.$parent.$emit('playerTwoSubmitted', username)
		})
		this.$on('usernameReset', () => { this.showInput = true })
	}
}
</script>

<style scope>
div.player
	min-width: 50%
</style>
