<template>
	<form
		@submit.prevent="handleSubmit(label)"
		class="player-input"
	>
		<label>
			{{ label }}
			<input
				v-model="username"
				placeholder="github username"
			>
		</label>
		<button
			:disabled="!username"
			type="submit"
		>
			Submit
		</button>
	</form>
</template>

<script>
export default {
	props: {
		label: { type: String, default: '' },
	},
	data: function() {
		return {
			username: '',
		}
	},
	methods: {
		handleSubmit(label) {
			this.$parent.$emit('usernameSubmitted', {
				label,
				username: this.username,
			})
		},
	},
}
</script>

<style scoped>
form.player-input
	display: flex
	flex-flow: column
	flex: 1 0 auto

	label
		display: flex
		flex-flow: column nowrap
		text-align: center
		justify-content: center
		align-items: center
		font-size: 30px
		font-weight: 200
		input
			border-radius: 3px
			margin: 10px 0
			padding: 5px
			border: 1px solid rgba(0, 0, 0, 0.43)
			font-size: 16px
			width: 80%
			min-width: 200px
</style>
