<template>
	<div class="player-preview">
		<player-avatar
			:image-url="imageUrl"
			:username="username"
		/>
		<button @click="handleReset">
			Reset
		</button>
	</div>
</template>

<script>
import PlayerAvatar from '../../../components/PlayerAvatar'

export default {
	components: {
		PlayerAvatar,
	},
	props: {
		username: { type: String, default: '' },
	},
	computed: {
		imageUrl() {
			return `https://github.com/${this.username}.png?size=200`
		}
	},
	methods: {
		handleReset() {
			this.$parent.$emit('usernameReset')
		}
	},
}
</script>

<style scoped>
div.player-preview
	display: flex
	flex-direction: column
	align-items: center
	min-width: 50%

	img
		border-radius: 50%
		max-width: 200px
</style>
